<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{'/assets/css/main.css' | url}}" />
</head>
<body>
    {% include "snippets/header.njk" %}
  <main>
    {{ content | safe }}
  </main>
    {% include "snippets/footer.njk" %}
</body>
</html>
