<link rel="stylesheet" href="{{'/assets/css/header.css' | url}}" />
<!-- div class="top-bar">
    <a href="{{'/' | url}}" title="Home">
        <img class="header-img" src="{{'/assets/logo.png' | url}}" alt="Logo Marc Gerrit">
    </a>
</div -->