.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.gallery a{
    display: block;
    width: 25%;
}

.gallery a img{
    width: calc(100% - 1rem);
    margin: 0.5rem;
}

.gallery a p {
    margin-left: 0.5rem;
}