body {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: Assistant;
        font-weight: 600;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    h1 {
        font-size: calc(2 * var(--base-font-size));
    }

    h2 {
        font-size: calc(1.8 * var(--base-font-size));
    }

    h3 {
        font-size: calc(1.6 * var(--base-font-size));
    }

    h4 {
        font-size: calc(1.4 * var(--base-font-size));
        font-weight: 400;
        text-transform: capitalize;
    }

    h5 {
        font-size: calc(1.2 * var(--base-font-size));
        font-weight: 400;
        text-transform: capitalize;
    }

    h6 {
        font-size: calc(1.1 * var(--base-font-size));
        font-weight: 400;
        text-transform: capitalize;
    }

}