---
---

@import index, font, basic, layout, classes

html
  background: #1A1E24
  padding: 0 calc(38% - 22em)

body
  box-shadow: 0 0 .3em rgb(90, 99, 119)

body > header, body > footer
  background: #393f4d
  color: $light

body, body > header, body > footer
  box-shadow: 0 0 0 1px rgb(90, 99, 119)
  
html, body > header, body > footer
  background: $dark

@media (min-width: 32em)
  body > header, body > article, body > footer
    padding: 1.75em calc(22% - 6em)



