.theme-dark {
  --background-primary: #393f4d;
  --background-secondary: #2f333a;
  --background-modifier-border: #5a6377;

  --text-normal: #dbdbdb;
  --text-muted: rgb(207, 196, 178);
  --text-faint: rgb(100, 128, 197);
  --outer-border: rgb(84, 113, 167);

}

.theme-dark .graph-view.color-line {
  color: var(--text-faint);
}

.theme-dark .titlebar{
  border-top: 1px solid var(--outer-border);
  border-left: 1px solid var(--outer-border);
  border-right: 1px solid var(--outer-border);
}

.theme-dark .app-container {
  border-left: 1px solid var(--outer-border);
  border-right: 1px solid var(--outer-border);
  border-bottom: 1px solid var(--outer-border);
}

.theme-dark .status-bar {
  margin-bottom: 1px;
  margin-right: 1px;
}