.cm-header-1{
  color : #eff5ee;
}
.cm-header-2{
  color : #7ab5ec;
}
.cm-header-3{
  color : #5285c9;
}
.cm-header-4{
  color :#7b9fce;
}
.cm-header-5{
  color : #9399c4;
}
.cm-header-6{
  color : #716ace;
}