.theme-dark {
  --background-primary: #393f4d;
  --background-secondary: #2f333a;
  --background-modifier-border: #5a6377;

  --text-normal: #dbdbdb;
  --text-muted: rgb(207, 196, 178);
  --text-faint: rgb(100, 128, 197);


  --graph-controls-width: 240px;
  --graph-text: var(--text-normal);
  --graph-line: var(--color-base-orange, var(--background-modifier-border-focus));
  --graph-node: var(--text-muted);
  --graph-node-unresolved: var(--text-faint);
  --graph-node-focused: var(--text-accent);
  --graph-node-tag: var(--color-green);
  --graph-node-attachment: var(--color-yellow);
  
}
